force-app/main/default/flows/Update_Stock_and_Price_Tick_when_Latest_Price_is_recorded.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Calculate_Negative_Price_Difference</name>
        <label>Calculate Negative Price Difference</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_PriceDifference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stock__r.Current_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PriceDifference</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Price_Difference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PriceDifference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Price_Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DOWN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Price_Difference_Direction_to_DOWN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Positive_Price_Difference</name>
        <label>Calculate Positive Price Difference</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_PriceDifference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PriceDifference</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Stock__r.Current_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Price_Difference_Direction_to_UP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Latest_Price_Tick_Price_HIGHER_than_the_Stock_s_Current_Price</name>
        <label>Is Latest Price Tick Price HIGHER than the Stock&apos;s Current Price</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Price_Difference_Direction_in_Tick</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HIGHER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Stock__r.Current_Price__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Positive_Price_Difference</targetReference>
            </connector>
            <label>HIGHER</label>
        </rules>
        <rules>
            <name>LOWER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Stock__r.Current_Price__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Negative_Price_Difference</targetReference>
            </connector>
            <label>LOWER</label>
        </rules>
    </decisions>
    <description>This flow automates the update of the Stock and Stock Price Tick fields based on the latest Stock Price Tick</description>
    <environments>Default</environments>
    <interviewLabel>Update Stock with Latest Price Tick Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Stock and Price Tick when Latest Price is recorded</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Price_Difference_Direction_in_Tick</name>
        <label>Update Price Difference &amp; Direction to UNCHANGED</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Stock_s_Current_Price</targetReference>
        </connector>
        <inputAssignments>
            <field>Price_Difference__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Direction__c</field>
            <value>
                <stringValue>DOWN</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Difference_Direction_to_DOWN</name>
        <label>Update Price Difference &amp; Direction to DOWN</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Stock_s_Current_Price</targetReference>
        </connector>
        <inputAssignments>
            <field>Price_Difference__c</field>
            <value>
                <elementReference>var_PriceDifference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Direction__c</field>
            <value>
                <stringValue>DOWN</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Difference_Direction_to_UP</name>
        <label>Update Price Difference &amp; Direction to UP</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Stock_s_Current_Price</targetReference>
        </connector>
        <inputAssignments>
            <field>Price_Difference__c</field>
            <value>
                <elementReference>var_PriceDifference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Direction__c</field>
            <value>
                <stringValue>UP</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stock_s_Current_Price</name>
        <label>Update Stock&apos;s Current Price</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Current_Price__c</field>
            <value>
                <elementReference>$Record.Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Stock__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Latest_Price_Tick_Price_HIGHER_than_the_Stock_s_Current_Price</targetReference>
        </connector>
        <object>Stock_Price_Tick__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_PriceDifference</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Stock__r.Current_Price__c</elementReference>
        </value>
    </variables>
</Flow>
